// card-shadow
.card-shadow {
  padding-top: 1px;
  padding-bottom: 1px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  background-color: #fff;
}

// cookbook-card
.cookbook-card {
  position: relative;
  width: 100%;
  height: auto;

  @extend .card-shadow;

  margin-bottom: 5px;

  &.edit {
    .glass {
      position: absolute;
      top: 0px;
      left: 0px;
      width: $recipe-width;
      height: $recipe-height;
      background-color: rgba(100, 100, 100, 0.5);
    }

    button.icon {
      position: absolute;

      /*
      // The background image will be setted in _common.style.scss
      background-image: url('');
      */
      background-repeat: no-repeat;
      background-position: center;
      background-color: transparent;
      background-size: auto 25px;

      padding: 0px;
      min-width: 36px;

      &:after {
        content: none;
      }

      &.activated {
        opacity: 0.3;
      }
    }

    button.icon-up {
      top: 10px;
      right: 45px;
    }

    button.icon-down {
      top: 10px;
      right: 5px;
    }

    button.icon-trash {
      bottom: 10px;
      right: 5px;
    }
  }
}

// order-card
.order-card {
  position: relative;
  width: 100%;
  height: auto;

  @extend .card-shadow;

  margin-bottom: 5px;

  p {
    padding: 5px 10px;

    .datetime {
      float: left;
    }

    .status {
      float: right;
      font-size: 10px;
      line-height: 10px;
      padding: 4px 20px;
      border-radius: 9px;
      background-color: green;
    }

    .servings {
      font-weight: 500;
    }
  }
}
