.payment-panel {
  position: relative;
  width: 100%;
  min-height: 54px;
  padding: 5px 5px 5px 54px;
  margin: 3px 0px;
  background-color: white;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  .avatar {
    position: absolute;
    top: 5px;
    left: 5px;

    width: 44px;
    height: 44px;
    border-radius: 50%;
    border: 1px solid $green-1-color;
  }

  .title {
    margin: 0 0 2px 0;
    font-size: 16px;
    font-weight: normal;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .name {
    color: #666;
    font-size: 13px;
    margin-bottom: 2px;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .fund {
    float: right;

    &.amount {
      font-size: 14px;
      margin: 0 0 2px 0;
    }

    &.date {
      color: #666;
      font-size: 13px;
      margin-bottom: 2px;
    }
  }
}
