// recipe title
.recipe-title {
  color: $recipe-title-color;
  font-size: 22px;
  font-weight: 400;
  padding-bottom: 10px;
}

// recipe banner
.recipe-banner {
  position: relative;
  width: $recipe-width;
  height: $recipe-height;

  /*
  // The background image will be setted by directive
  background-image: url('');
  */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  .banner-title {
    position: absolute;
    bottom: 0px;

    width: 100%;
    padding: 15px;

    font-size: 15px;
    font-weight: 500;
    color: white;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &.blur {
    filter: blur(2px);
    overflow: hidden;
  }
}

// delivery
.delivery {
  font-size: 15px;
  line-height: 15px;

  .icon-custom {
    position: absolute;
    top: 20px;
    left: 10px;

    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;

    background-size: auto 16px;
    background-position: center;
    background-repeat: no-repeat;
  }

  .time-serving {
    position: relative;
    padding: 20px 10px 20px 36px;

    .time {
    }

    .serving {
      float: right;
    }
  }

  .address {
    position: relative;
    padding: 20px 10px 20px 36px;
    clear: both;

  }
}

// price
.price {
  padding: 20px 20px 20px 40px;

  text-align: center;
  font-size: 22px;
  color: $green-1-color;
}
