.settings-view {
  .icon-custom {
    display: inline-block;
    min-width: 29px;
    width: auto;
    height: 29px;

    vertical-align: middle;
    background-size: auto 29px;
    background-position: center;
    background-repeat: no-repeat;
  }
}
