<ion-view class="cuisine-change-view">
  <div class="bar bar-header bar-assertive">
    <h1 class="title">Cuisine Specialties</h1>
    <button class="button button-clear button-light" ng-click="update()">UPDATE</button>
  </div>

  <ion-content scroll="true" class="has-header" padding="true">
    <div class="form">

      <!-- title -->
      <span class="title">Update your cuisine specialties.</span>

      <div class="preference">
        <div class="toggle selected">
          <i class="icon icon-flag"></i>
          <span class="country">Chinese</span>
        </div>
      </div>

      <div class="preference">
        <div class="toggle">
          <i class="icon icon-flag"></i>
          <span class="country">American</span>
        </div>
      </div>

      <div class="preference">
        <div class="toggle selected">
          <i class="icon icon-flag"></i>
          <span class="country">French</span>
        </div>
      </div>

      <div class="preference">
        <div class="toggle">
          <i class="icon icon-flag"></i>
          <span class="country">Italian</span>
        </div>
      </div>

      <div class="preference">
        <div class="toggle">
          <i class="icon icon-flag"></i>
          <span class="country">Greek</span>
        </div>
      </div>

      <div style="clear: both"></div>

    </div>
  </ion-content>
</ion-view>
