<ion-view class="diet-change-view">
  <div class="bar bar-header bar-assertive">
    <h1 class="title">Diet Specialties</h1>
    <button class="button button-clear button-light" ng-click="update()">UPDATE</button>
  </div>

  <ion-content scroll="true" class="has-header" padding="true">
    <div class="form">

      <!-- title -->
      <span class="title">Update your diet specialties.</span>

      <div class="tag">
        <div class="toggle selected">Low Carb</div>
      </div>

      <div class="tag">
        <div class="toggle">High Protein</div>
      </div>

      <div class="tag">
        <div class="toggle">Low Sodium</div>
      </div>

      <div style="clear: both"></div>

    </div>
  </ion-content>
</ion-view>
