<ion-view class="password-change-view">
  <div class="bar bar-header bar-assertive">
    <h1 class="title">Change Password</h1>
    <button class="button button-clear button-light" ng-click="post()">UPDATE</button>
  </div>

  <ion-content scroll="true" class="has-header" padding="false">
    <div class="form">

      <!-- title -->
      <div class="row">
        <div class="col">
          Update your password every 2 months.
        </div>
      </div>

      <!-- old password -->
      <div class="row">
        <div class="col">
          <label class="item item-input">
            <input type="text" placeholder="Old Password">
          </label>
        </div>
      </div>

      <!-- new password -->
      <div class="row">
        <div class="col">
          <label class="item item-input">
            <input type="text" placeholder="New Password">
          </label>
        </div>
      </div>

      <!-- repeat new password -->
      <div class="row">
        <div class="col">
          <label class="item item-input">
            <input type="text" placeholder="Repeat New Password">
          </label>
        </div>
      </div>

      <!-- update password button -->
      <div class="row">
        <div class="col">
          <button class="button button-full button-assertive">UPDATE PASSWORD</button>
        </div>
      </div>

    </div>
  </ion-content>
</ion-view>
