<ion-view class="password-change-view">
  <div class="bar bar-header bar-assertive">
    <h1 class="title">Change Password</h1>
    <button class="button button-clear button-light" ng-click="post()">UPDATE</button>
  </div>

  <ion-content scroll="true" class="has-header" padding="false">
    <div class="form">
      <div>Update your password every 2 months</div>
      <label class="item item-input">
        <input type="text" placeholder="Old Password">
      </label>

      <label class="item item-input">
        <input type="text" placeholder="New Password">
      </label>

      <label class="item item-input">
        <input type="text" placeholder="Repeat New Password">
      </label>

      <button class="button button-full button-assertive">UPDATE PASSWORD</button>
    </div>
  </ion-content>
</ion-view>
