<ion-view class="payments-view">
  <div class="bar bar-header bar-assertive">
    <h1 class="title">Payments</h1>
  </div>

  <ion-content scroll="true" class="has-header" padding="false">

    <a class="item item-avatar" href="#">
      <img src="venkman.jpg">
      <p>Back off, man. I'm a scientist.</p>
      <span class="item-note">
      Grammy
    </span>
      <p>Back off, man. I'm a scientist.</p>
      <span class="item-note">
      Grammy
    </span>
    </a>


    <div class="panel">

    </div>
  </ion-content>
</ion-view>
