<ion-view class="settings-view">
  <div class="bar bar-header bar-assertive">
    <h1 class="title">Settings</h1>
    <button class="button button-clear button-light" ng-click="post()">UPDATE</button>
  </div>

  <ion-content scroll="true" class="has-header" padding="false">

    <div class="list">
      <div class="item">
        <i class="icon-custom icon-lock"></i>
        <span>Account Settings</span>
      </div>

      <div class="item">
        <i class="icon-custom icon-dish"></i>
        <span>Change Cuisine Preferences</span>
      </div>

      <div class="item">
        <i class="icon-custom icon-apple"></i>
        <span>Change Diet Preferences</span>
      </div>

      <div class="item">
        <i class="icon-custom icon-apple"></i>
        <span>Manage Delivery Addresses</span>
      </div>

      <div class="item">
        <i class="icon-custom icon-apple"></i>
        <span>Manage Payment Methods</span>
      </div>

      <div class="item">
        <i class="icon-custom icon-chat"></i>
        <span>About CookMeToo</span>
      </div>

      <div class="item">
        <i class="icon-custom icon-apple"></i>
        <span>Report Issues</span>
      </div>

      <div class="item">
        <i class="icon-custom icon-block"></i>
        <span>Block User</span>
      </div>

      <div class="item">
        <i class="icon-custom icon-deactive"></i>
        <span>Deactivate Account</span>
      </div>

      <div class="item">
        <i class="icon-custom icon-deactive"></i>
        <span>Logout</span>
      </div>

    </div>

  </ion-content>
</ion-view>
