<ion-view class="support-view">
  <div class="bar bar-header bar-assertive">
    <h1 class="title">Support</h1>
  </div>

  <ion-content scroll="true" class="has-header" padding="true">
    <div class="form">

      <!-- title -->
      <span class="title">Please leave your feedback below.</span>

      <label class="item item-input">
        <textarea style="height: 300px">Messave</textarea>
      </label>

      <button class="button button-full button-assertive">SEND FEEDBACK</button>

    </div>
  </ion-content>
</ion-view>
