<ion-view class="welcome-view">
  <ion-content scroll="false">
    <div class="main-content">
      <div class="top-content">
        <div class="card-wrapper">
          <div class="button-wapper">
            <button class="button button-balanced">I want to eat</button>
          </div>

        </div>
      </div>
      <div class="bottom-content">
        <div class="card-wrapper">
          <div class="button-wapper">
            <button class="button button-assertive">I want to cook</button>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
