<ion-view class="login-view">
  <ion-content scroll="false">
    <div class="main-content">
      <div class="top-content">
        <span class="vertical-helper"></span>
        <img class="logo" src="img/logo/logo_red@2x.png">
      </div>
      <div class="bottom-content">
        <div class="form">
          <form>
            <label class="item item-input">
              <input type="text" placeholder="email" ng-model="formdata.email">
            </label>
            <label class="item item-input">
              <input type="password" placeholder="password" ng-model="formdata.password">
            </label>
            <div class="forgot-wrapper">
              <a href="#" class="button button-small button-clear button-dark">Forgot Password?</a>
            </div>

            <div class="login-wrapper">
              <button class="button button-assertive">LOGIN</button>
            </div>
            <div class="register-wrapper">
              <span>Don't have an account yet? - <a href="#" class="register-link">Register now!</a></span>
            </div>

          </form>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
