<ion-view class="auth-view register">
  <ion-content scroll="false">
    <div class="main-content">
      <div class="top-content">
        <span class="vertical-helper"></span>
        <img class="logo" src="img/logo/logo_red@2x.png">
      </div>
      <div class="bottom-content">
        <div class="form">
          <form>
            <label class="item item-input">
              <input type="text" placeholder="name" ng-model="formdata.name">
            </label>
            <label class="item item-input">
              <input type="text" placeholder="email" ng-model="formdata.email">
            </label>
            <label class="item item-input">
              <input type="password" placeholder="password" ng-model="formdata.password">
            </label>

            <div class="button-wrapper">
              <button class="button button-assertive">REGISTER</button>
            </div>
            <div class="another-wrapper">
              <span>Do you have an account? - <a href="#/login" class="another-link">Login now!</a></span>
            </div>
          </form>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
