<ion-view class="review-leave-view">
  <div class="bar bar-header bar-assertive">
    <h1 class="title">Leave a Review</h1>
    <button class="button button-clear button-light">SUBMIT</button>
  </div>

  <ion-content scroll="true" class="has-header" padding="true">
    <div class="recipe-title">{{offer.recipe.title}}</div>
    <recipe-banner recipe="offer.recipe"></recipe-banner>

    <div class="delivery">
      <!-- time & servings -->
      <div class="time-serving border">
        <span class="time">
          <i class="icon-custom icon-clock"></i>
          <span>{{offer.delivery.time}}, {{offer.delivery.date}}</span>
        </span>
        <span class="serving">
          {{ offer.delivery.servings }} Serving{{ offer.delivery.servings>1?'s':'' }}
        </span>
      </div>

      <!-- address -->
      <div class="address border">
        <i class="icon-custom icon-pin"></i>
        <span>{{offer.delivery.address}}</span>
      </div>

      <!-- chef -->
      <div class="chef-thumb">
        <img class="avatar" ng-src="{{offer.chef.avatar}}">
        <span class="name">{{offer.chef.name}}</span>
      </div>

      <!-- rating -->
      <ionic-ratings ratingsobj='ratingsObject' index='0'></ionic-ratings>

      <!-- review -->
      <div class="form">
        <label class="item item-input">
          <textarea style="height: 100px">Review</textarea>
        </label>
      </div>

    </div>

    <!-- submit button -->
    <button class="button button-full button-assertive">SUBMIT</button>

  </ion-content>
</ion-view>
